@page "/about"

<PageTitle>О проекте</PageTitle>

<div class="card mt-4">
    <div class="card-header bg-primary text-white">
        <h3>О проекте "Сайт знакомств"</h3>
    </div>
    <div class="card-body">
        <p class="lead">
            Репродуктивный проект на Blazor
        </p>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Выполнил:</dt>
            <dd class="col-sm-9">Студент группы РППб-24-1 Симонов Михаил Алексеевич</dd>
            <dt class="col-sm-3">Описание проекта:</dt>
            <dd class="col-sm-9">Платформа для поиска знакомств и общения</dd>
            <dt class="col-sm-3">Год:</dt>
            <dd class="col-sm-9">2025</dd>
        </dl>
    </div>
</div>